/* Write your code here. */
.list-item {
  padding: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #d7dae6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.qustion-caontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button {
  background-color: transparent;
  border-style: none;
}
h1 {
  font-size: 20px;
  color: #52606d;
}
hr {
  border-color: #9aa5b1;
}

p {
  color: #9aa5b1;
}
